<!DOCTYPE html>
<html>

<head>
  <link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">
  <link rel="stylesheet" href="main.css">
  <meta charset="utf-8">
  <title>Site with Login</title>
</head>

<body>
  <div class="indexWrapper">
    <h1 class="welcome">Welcome!</h1>
    <nav>
      <a class="logout" href="/login">Log Out</a>
  </div>

  </nav>
</body>

</html>
